.cart-item-wrapper {
    position: relative;
    box-sizing: border-box;
    list-style-type: none;
    margin: 30px;
    padding: 5px 30px 5px 1px;
    text-decoration: none;
    border-radius: 5px;
}
.carrito{
    color: #ffffff;
}


.carrito:hover {
    color: rgb(145, 28, 28);
}

.cart-bubble {
    position: relative;
    bottom: 80%;
    left: 100%;
}