.cart-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 35px;
    height: 35px;
    color: rgb(255, 255, 255);
}

.cart-item-wrapper:hover {
    color: rgb(148, 148, 148);
    transition: 1s;
}