.nav-container {
    background-color: rgba(2,2,2,255);
    display: flex;
    justify-content: space-between;  
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
#nav-margin{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    padding: 7px;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content:center ;
    font-weight:400;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:medium;
    text-decoration: none;
    color: white;
    background-color: rgba(108,117,125,255);
    border-radius: 4px;
    border: bold 2px rgba(83,90,95,255);
}
.nav li a:hover {
    background-color: rgba(92,99,106,255);
}

.nav-active {
    font-weight: bold;
}

img {
    width: fit-content;
    height: 100px;
}
.dropDown{
    padding: 15px;
}